@import './style/0000_cmnMenu.css';
@import './style/0101_managerLogin.css';
@import './style/0201_managerTop.css';
@import './style/0202_setStage.css';
@import './style/0203_setForm.css';
@import './style/0204_setSeat.css';
@import './style/0205_setAdvertisement.css';
@import './style/0206_setStageMember.css';
@import './style/0301_checkReserveList.css';
@import './style/0302_countReserve.css';
@import './style/0303_checkFormList.css';
@import './style/0401_sendMail.css';
@import './style/0402_exportExcel.css';
@import './style/0501_createStage.css';
@import './style/0502_checkStageList.css';
@import './style/0503_setGroup.css';
@import './style/0504_setGroupMember.css';
@import './style/0601_changeStage.css';
@import './style/0602_changeGroup.css';
@import './style/0603_setUser.css';
@import './style/0604_createGroup.css';
@import './style/0701_createUser.css';
@import './style/0702_setFirstStage.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pc p, span {
    font-size: 1.2vw;
}

.pc td,
th, ul, li, a {
    font-size: 1.2vw;
}

.pc input {
    width: 30vw;
    height: 3vh;
}

.pc select {
    height: 5vh;
    /* 標準のスタイルを無効にする */
    border: none;
    appearance: none;
    outline: none;
    background: transparent;
}

.hidden {
    display: none;
    /* 完全に非表示、スペースも消える */
}

.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}