@import './style/0000_cmnMenu.css';
@import './style/0101_managerLogin.css';
@import './style/0201_managerTop.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.pc p {
    font-size: 1.2vw;
}

.pc input {
    width: 30vw;
    height: 3vh;
}

.pc select {
    height: 5vh;
    /* 標準のスタイルを無効にする */
    border: none;
    appearance: none;
    outline: none;
    background: transparent;
}

.hidden {
  display: none;  /* 完全に非表示、スペースも消える */
}