@import './style/0000_cmnMenu.css';
@import './style/0101_managerLogin.css';
@import './style/0302_countReserve.css';
@import './style/0702_setFirstStage.css';
@import './style/0801_inputForm.css';
@import './style/0901_custLogin.css';
@import './style/0902_createUser.css';
@import './style/1001_myPage.css';
@import './style/1002_setCust.css';
@import './style/1003_reserveList.css';
@import './style/pc_cmn.css';
@import './style/mobile_cmn.css';
@import './style/pc_manage.css';
@import './style/mobile_manage.css';
@import './style/pc_cust.css';
@import './style/mobile_cust.css';
@import './style/cmn_header.css';
@import './style/cmn_footer.css';
@import './style/cmn_leftSide.css';
@import './style/cmn_managerMenu.css';
@import './style/cmn_table.css';
@import './style/cmn_button.css';
@import './style/cmn_input.css';
@import './style/cmn_select.css';
@import './style/cmn_midashi.css';

/* 1. ブラウザの余白をリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    word-break: keep-all;
    white-space: normal;
    overflow-wrap: break-word;
}

nav {
    width: 100%;
}

.pc nav {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.pc nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.pc p,
.pc span {
    font-size: 1.2vw;
}

.pc td,
.pc th,
.pc ul,
.pc li,
.pc a {
    font-size: 1.2vw;
}

.pc li {
  list-style: none;
}

.mobile {
    text-align: center;
}

.mobile p,
.mobile span {
    font-size: 4.2vw;
}

.mobile td,
.mobile th,
.mobile ul,
.mobile li,
.mobile a {
    font-size: 4.2vw;
}

.mobile .rightView {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mobile table {
    margin-left: auto;
    margin-right: auto;
}

.custPage {
    padding-left: 1rem;
    padding-right: 1rem;
}

.custPage hr {
    margin-left: auto;
    margin-right: auto;
}

.custPage button {
    border: none;
    background: none;
}

.custPage img {
    height: 20vh;
}

.hidden {
    display: none;
    /* 完全に非表示、スペースも消える */
}

.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}

.alertText {
    color: rgb(233, 40, 40);
}

.linkText {
    color: blue;
    cursor: pointer;
    border-bottom: solid 1px blue;
}

.rightView .setStage {
    align-items: center;
}

.setStageForm p {
    font-size: small;
    color: #999;
}