.managerMenu {
    display: flex;
    height: 100vw;
}

.pc .leftMenu {
    width: 20vw;
    flex: 1.2;
    background-color: #ffab87;
}

.leftMenu .menuContent {
    padding-left: 1vw;
    padding-top: 2vh;
}

.menuLogo .topLogo {
    width: 10vw;
}

.leftMenu h1 {
    font-size: 0.8vw;
    color: rgb(62, 1, 1);
}

.leftMenu h2 {
    color: rgb(62, 1, 1);
}

.leftMenu h3 {
    color: rgb(114, 114, 114);
}

.leftMenu h4 {
    color: rgb(62, 1, 1);
    text-decoration: underline;
    padding-left: 1em;
}

.leftMenu .stage .manage .tool .group .user {
    color: rgb(62, 1, 1);
    text-decoration: underline;
}

.leftMenu a {
    color: rgb(62, 1, 1);
    text-decoration: none;
}

.leftMenu .menuUl {
    list-style-type: none;
}

.menuUl li {
  position: relative;
  padding: 0.5em 1em 0.5em 2.3em;
  margin-bottom:5px;
  border-bottom: 1px solid rgb(62, 1, 1);
}
.menuUl li:after,
.menuUl li:before{
  position: absolute;
  content:'';
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuUl li:before {
  left: 0;
  width: 17px;
  height: 17px;
  background: rgb(62, 1, 1);
}
.menuUl li:after {
  top: 1em;
  left: 0.5em;
  width: 14px;
  height: 14px;
  background: rgb(212, 178, 178);
}

.leftMenu button {
    margin-left: 2em;
    width: 9vw;
    height: 4vh;
}

.pc .rightView {
    flex: 5;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5vh;
}