.pc .rightSide {
    flex: 7;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.pc .center_container {
    margin-top: 10vh;
}

.center_container {
    text-align: center;
}

.pc .center_container .submitBox {
    padding-top: 5vh;
}

.pc .loginBtn .loginText {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    text-decoration: none;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #eee;
    border-radius: 9999px;
    border-bottom: 2px solid #999;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}

.mobile .loginBtn .loginText {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 30vw;
    padding: 10px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    text-decoration: none;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #eee;
    border-radius: 9999px;
    border-bottom: 2px solid #999;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}

.loginBtn .loginText:hover {
    color: #fff;
    background: #999;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}

.rightSide .message {
    padding-top: 3vh;
}

.pc .rightSide button {
    width: 12vw;
    height: 5vh;
    border: none;
    background: white;
}

.mobile .rightSide button {
    height: 5vh;
    border: none;
    background: white;
}

.managerLoginContainer .mobileFooter {
    margin-top: 15vh;
}

.pc .sel {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
}

/*プルダウンの三角を設定*/
.pc .sel::before {
    position: absolute;
    right: 1vw;
    content: '';
    width: 16px;
    height: 8px;
    background: #666666;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}