.toMypageBtn {
    background-color: #ff9900;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.toMypageBtn .toMypageText {
    background-color: #ff9900;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.toMypageBtn .toMypageText:hover {
    background-color: #e68200;
}

.pc .inputForm button {
    width: 12vw;
    height: 90%;
}

.mobile .inputForm button {
    width: 52vw;
}

.pc .traMemo {
    width: 30vw;
    height: 22vh;
}

.mobile .traMemo {
    width: 100%;
    height: 25vh;
}

.submitBtn .submitText {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #333;
    font-family: "Noto Sans Japanese";
    text-decoration: none;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #eee;
    border-radius: 9999px;
    border-bottom: 2px solid #999;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
}

.submitBtn .submitText:hover {
    color: #fff;
    background: #999;
    border-bottom: 2px solid #fff;
    transform: translateY(3px);
}