<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${title2}"></h2>

    <!-- 各種メニュー -->
    <h3 th:text="${menuList_ctegory_stage}"></h3>
    <h4 th:text="${menuList_stage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_stage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_manage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_manage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_tools_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_tools}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_group}"></h3>
    <h4 th:text="${menuList_group_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_group}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_user}"></h3>
    <h4 th:text="${menuList_user_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_user}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>
    <hr>

    <!-- ページ内容 -->
    <div>
        <h3>団体検索</h3>
        <form action="/changeGroup" method="post">
            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
            <input type="hidden" name="page" value="">
            <p>
                検索方法
                <select name="mode" required>
                    <option value="" disabled selected>検索方法を選択してください</option>
                    <option value="idSearch">団体ID</option>
                    <option value="nameSearch">団体名</option>
                </select>
            </p>
            <p>
                <input type="text" name="keyword" th:value="${keyword}">
                <input type="submit" value="検索">
            </p>
        </form>
        <p th:text="${message}" style="color: red;"></p>
    </div>

    <div th:if="${mode != 'login' and !#lists.isEmpty(searchGroupList)}">
        <table>
            <tr>
                <th>団体ID</th>
                <th>団体名</th>
                <th>参加状況</th>
                <th></th>
            </tr>
            <th:block th:each="item : ${searchGroupList}">
                <tr>
                    <form action="/changeGroup" method="post">
                        <input type="hidden" name="keyword" th:value="${keyword}">
                        <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                        <input type="hidden" name="sysGroupId" th:value="${item.sys_group_id}">
                        <td th:text="${item.group_id}"></td>
                        <td th:text="${item.group_name}"></td>
                        <td th:if="${item.group_authority != null and item.group_authority > 0}"
                            th:text="${item.authority_name}"></td>
                        <td th:if="${item.group_authority == null or item.group_authority == 0}"></td>
                        <td>
                            <!-- item.group_authority が null または 0 の場合：ログインボタン -->
                            <button name="mode" value="login"
                                th:if="${item.group_authority == null or item.group_authority == 0}">
                                ログイン
                            </button>

                            <!-- item.group_authority が 1以上 かつ userData.user_def_group と一致する場合：選択中（赤文字） -->
                            <span
                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group == item.sys_group_id}"
                                style="color: red;">
                                選択中
                            </span>

                            <!-- item.group_authority が 1以上 かつ user_def_group と違う場合：選択ボタン -->
                            <button name="mode" value="select"
                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group != item.sys_group_id}">
                                選択
                            </button>
                        </td>
                    </form>
                </tr>
            </th:block>
        </table>
        <form action="/changeGroup" method="post">
            <input type="hidden" name="mode" th:value="${mode}">
            <input type="hidden" name="keyword" th:value="${keyword}">
            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
            <p>
                <button type="submit" name="page" value="searchPrev" th:if="${searchPrev != null}">前へ</button>
                <button type="submit" name="page" value="searchNext" th:if="${searchNext != null}">次へ</button>
            </p>
        </form>
    </div>

    <div th:if="${mode == 'login' && loginMode == 'start'}">
        <p th:text="${groupData.group_name + '（' + groupData.group_id + '）へのログインパスワードを入力してください'}"></p>

        <form action="/changeGroup" method="post">
            <input type="hidden" name="mode" value="login">
            <input type="hidden" name="sysGroupId" th:value="${groupData.sys_group_id}">
            <p>
                <input type="text" name="groupPass" th:value="${groupPass}">
            </p>
            <p>
                <button type="submit" name="loginMode" value="inputPass">ログイン</button>
            </p>
        </form>
        <p th:text="${loginMessage}" style="color: red;"></p>
    </div>

    <h3>参加中の団体</h3>
    <div>
        <table>
            <tr>
                <th>団体ID</th>
                <th>団体名</th>
                <th>参加状況</th>
                <th></th>
            </tr>
            <th:block th:each="item : ${groupList}">
                <form action="/changeGroup" method="post">
                    <tr>
                        <input type="hidden" name="sysGroupId" th:value="${item.sys_group_id}">
                        <td th:text="${item.group_id}"></td>
                        <td th:text="${item.group_name}"></td>
                        <td th:text="${item.authority_name}"></td>
                        <td>
                            <!-- item.group_authority が 1以上 かつ userData.user_def_group と一致する場合：選択中（赤文字） -->
                            <span
                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group == item.sys_group_id}"
                                style="color: red;">
                                選択中
                            </span>

                            <!-- item.group_authority が 1以上 かつ user_def_group と違う場合：選択ボタン -->
                            <button name="mode" value="select"
                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group != item.sys_group_id}">
                                選択
                            </button>
                        </td>
                    </tr>
                </form>
            </th:block>
        </table>
        <form action="/changeGroup" method="post">
            <input type="hidden" name="mode" value="stageList">
            <input type="hidden" name="listOffset" th:value="${listOffset}">
            <p>
                <button type="submit" name="page" value="prev" th:if="${prev != null}">前へ</button>
                <button type="submit" name="page" value="next" th:if="${next != null}">次へ</button>
            </p>
        </form>
        <p th:text="${listMessage}"></p>
    </div>

    <p>
    <form action="/login" method="post">
        <input type="hidden" name="mode" value="logout">
        <input type="submit" value="ログアウト">
    </form>
    </p>

</body>

</html>