<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="managerMenu" name="managerMenu">

        <div class="leftMenu">
            <div class="menuLogo">
                <img src="./img/0101/application_logo.png" class="topLogo">
            </div>
            <div class="menuContent">
                <!-- <h1 th:text="${title}"></h1> -->
                <h2 th:text="${title2}"></h2>

                <hr>

                <!-- 各種メニュー -->
                <!-- 公演メニュー -->
                <h3 th:text="${menuList_ctegory_stage}"></h3>
                <a href="javascript:void(0)" class="stage" name="stage">
                    <h4 th:text="${menuList_stage_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_stage}">
                        <li class="hidden" name="stageMenu"><a th:href="${column.page_url}"><span
                                    th:text="${column.page_name}"></span></a></li>
                    </th:block>
                </ul>

                <!-- 票券管理メニュー -->
                <a href="javascript:void(0)" class="manage" name="manage">
                    <h4 th:text="${menuList_manage_title}">
                    </h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_manage}">
                        <li class="hidden" name="manageMenu"><a th:href="${column.page_url}"><span
                                    th:text="${column.page_name}"></span></a></li>
                    </th:block>
                </ul>

                <!-- 便利機能メニュー -->
                <a href="javascript:void(0)" class="tool" name="tool">
                    <h4 th:text="${menuList_tools_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_tools}">
                        <li class="hidden" name="toolMenu"><a th:href="${column.page_url}"><span
                                    th:text="${column.page_name}"></span></a></li>
                    </th:block>
                </ul>

                <th:block th:if="${menuList_stage_title != null}">
                    <hr>
                </th:block>

                <!-- 団体メニュー -->
                <h3 th:text="${menuList_ctegory_group}"></h3>
                <a href="javascript:void(0)" class="group" name="group">
                    <h4 th:text="${menuList_group_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_group}">
                        <li class="hidden" name="groupMenu"><a th:href="${column.page_url}"><span
                                    th:text="${column.page_name}"></span></a></li>
                    </th:block>
                </ul>

                <th:block th:if="${menuList_group_title != null}">
                    <hr>
                </th:block>

                <!-- ユーザーメニュー -->
                <h3 th:text="${menuList_ctegory_user}"></h3>
                <a href="javascript:void(0)" class="user" name="user">
                    <h4 th:text="${menuList_user_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_user}">
                        <li class="hidden" name="userMenu"><a th:href="${column.page_url}"><span
                                    th:text="${column.page_name}"></span></a></li>
                    </th:block>
                </ul>

                <th:block th:if="${menuList_user_title != null}">
                    <hr>
                </th:block>

                <p>
                <form action="/login" method="post">
                    <button type="submit" name="mode" value="logout">ログアウト</button>
                </form>
                </p>

            </div>
        </div>

        <div class="rightView">
            <div>

                <!-- 右側画面タイトル -->
                <h1 th:text="${title}"></h1>
                <h2 th:text="${title2}"></h2>

                <!-- 区切り線 -->
                <hr>

                <!-- ページ内容 -->
                <div>
                    <h3>団体の公演一覧</h3>
                    <div th:if="${mode == 'login' && loginMode == 'start'}">
                        <p
                            th:text="${loginStageData.stage_name + '（' + loginStageData.stage_id + '）へのログインパスワードを入力してください'}">
                        </p>

                        <form action="/checkStageList" method="post">
                            <input type="hidden" name="mode" value="login">
                            <input type="hidden" name="sysStageId" th:value="${loginStageData.sys_stage_id}">
                            <p>
                                <input type="text" name="stagePass" th:value="${stagePass}">
                            </p>
                            <p>
                                <button type="submit" name="loginMode" value="inputPass">ログイン</button>
                            </p>
                        </form>
                        <p th:text="${loginMessage}" style="color: red;"></p>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>公演ID</th>
                                <th>公演名</th>
                                <th>参加状況</th>
                                <th></th>
                            </tr>
                            <th:block th:each="item : ${stageList}">
                                <form action="/checkStageList" method="post">
                                    <tr>
                                        <input type="hidden" name="sysStageId" th:value="${item.sys_stage_id}">
                                        <td th:text="${item.stage_id}"></td>
                                        <td th:text="${item.stage_name}"></td>
                                        <td th:text="${item.authority_name}"></td>
                                        <td>
                                            <!-- item.stage_authority が 1以上 かつ userData.user_def_stage と一致する場合：選択中（赤文字） -->
                                            <span
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage == item.sys_stage_id}"
                                                style="color: red;">
                                                選択中
                                            </span>

                                            <!-- item.stage_authority が 1以上 かつ user_def_stage と違う場合：選択ボタン -->
                                            <button name="mode" value="select"
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage != item.sys_stage_id}">
                                                選択
                                            </button>

                                            <!-- item.stage_authority が null または 0 の場合：ログインボタン -->
                                            <button name="mode" value="login"
                                                th:if="${item.stage_authority == null or item.stage_authority == 0}">
                                                ログイン
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            </th:block>
                        </table>
                        <form action="/checkStageList" method="post">
                            <input type="hidden" name="mode" value="stageList">
                            <input type="hidden" name="listOffset" th:value="${listOffset}">
                            <p>
                                <button type="submit" name="page" value="prev" th:if="${prev != null}">前へ</button>
                                <button type="submit" name="page" value="next" th:if="${next != null}">次へ</button>
                            </p>
                        </form>
                        <p th:text="${listMessage}"></p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script type="module" src="./js/main.js"></script>
</body>

</html>