<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${title2}"></h2>

    <!-- 各種メニュー -->
    <h3 th:text="${menuList_ctegory_stage}"></h3>
    <h4 th:text="${menuList_stage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_stage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_manage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_manage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_tools_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_tools}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_group}"></h3>
    <h4 th:text="${menuList_group_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_group}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_user}"></h3>
    <h4 th:text="${menuList_user_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_user}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>
    <hr>

    <!-- ページ内容 -->
    <div th:if="${mode == 'inputSysGroupId'}">
        <p>公演を作成する団体を選んでください</p>
        <form action="/createStage" method="post">
            <select name="sysGroupId" required>
                <option value="" disabled selected>団体を選択してください</option>
                <th:block th:each="item : ${groupList}">
                    <option th:value="${item.sys_group_id}" th:text="${item.group_name}"></option>
                </th:block>
            </select>
            <button type="submit" name="mode" value="inputSysGroupId">確認</button>
        </form>
        <p th:text="${message}"></p>
    </div>

    <div th:if="${mode == 'inputStageId'}">
        <p>任意の公演IDを入力してください</p>
        <form action="/createStage" method="post">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="text" name="stageId" th:value="${stageId}" required>
            <button type="submit" name="mode" value="inputStageId">確認</button>
        </form>
        <form action="/createStage" method="post">
            <input type="hidden" name="back" value="back">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <button type="submit" name="mode" value="inputStageId">戻る</button>
        </form>
        <p th:text="${message}"></p>
    </div>

    <div th:if="${mode == 'inputBaseData'}">
        <p>公演情報を入力してください</p>
        <form action="/createStage" method="post">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="hidden" name="stageId" th:value="${stageId}">
            <p>
                パスワード<br>
                <input type="password" name="stagePass" required>
            </p>
            <p>
                パスワード再入力<br>
                <input type="password" name="rePass" required>
            </p>
            <p>
                公演名<br>
                <input type="text" name="stageName" th:value="${stageName}" required>
            </p>
            <p>
                集客目標<br>
                <input type="number" name="stageAttractCustomers" th:value="${stageAttractCustomers}" required>
            </p>
            <p>
                予約フォームのベースURL名<br>
                <input type="text" name="stageUrlTitle" th:value="${stageUrlTitle}" required>
            </p>
            <button type="submit" name="mode" value="inputBaseData">確認</button>
        </form>
        <form action="/createStage" method="post">
            <input type="hidden" name="back" value="back">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="hidden" name="stageId" th:value="${stageId}">
            <button type="submit" name="mode" value="inputBaseData">戻る</button>
        </form>
        <p th:text="${message}"></p>
    </div>

    <div th:if="${mode == 'inputPlaceData'}">
        <p>会場を選択、もしくは新規入力してください</p>
        <form action="/createStage" method="post">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="hidden" name="stageId" th:value="${stageId}">
            <input type="hidden" name="stagePass" th:value="${stagePass}">
            <input type="hidden" name="stageName" th:value="${stageName}">
            <input type="hidden" name="stageAttractCustomers" th:value="${stageAttractCustomers}">
            <input type="hidden" name="stageUrlTitle" th:value="${stageUrlTitle}">

            <select name="stage_place_name">
                <option value="" disabled selected>会場を選択してください</option>
                <th:block th:each="item : ${placeList}">
                    <option th:value="${item.stage_place_name}"
                        th:text="|${item.stage_place_name} (${item.stage_place_address})|">
                    </option>
                </th:block>
            </select>
            <button type="submit" name="mode" value="inputPlaceData">確認</button>
        </form>

        <form action="/createStage" method="post">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="hidden" name="stageId" th:value="${stageId}">
            <input type="hidden" name="stagePass" th:value="${stagePass}">
            <input type="hidden" name="stageName" th:value="${stageName}">
            <input type="hidden" name="stageAttractCustomers" th:value="${stageAttractCustomers}">
            <input type="hidden" name="stageUrlTitle" th:value="${stageUrlTitle}">
            <p>
                会場名<br>
                <input type="text" name="stage_place_name" th:value="${stage_place_name}">
            </p>
            <p>
                会場住所<br>
                <input type="text" name="stage_place_address" th:value="${stage_place_address}"><br>
                ※郵便番号不要<br>
            </p>
            <button type="submit" name="mode" value="inputPlaceData">確認</button>
        </form>

        <form action="/createStage" method="post">
            <input type="hidden" name="back" value="back">
            <input type="hidden" name="sysGroupId" th:value="${sysGroupId}">
            <input type="hidden" name="stageId" th:value="${stageId}">
            <input type="hidden" name="stagePass" th:value="${stagePass}">
            <input type="hidden" name="stageName" th:value="${stageName}">
            <input type="hidden" name="stageAttractCustomers" th:value="${stageAttractCustomers}">
            <input type="hidden" name="stageUrlTitle" th:value="${stageUrlTitle}">
            <button type="submit" name="mode" value="inputPlaceData">戻る</button>
        </form>
        <p th:text="${message}"></p>
    </div>

    <p>
    <form action="/login" method="post">
        <input type="hidden" name="mode" value="logout">
        <input type="submit" value="ログアウト">
    </form>
    </p>

</body>

</html>