<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="center_container">
        <h1 th:text="${title}"></h1>
        <h2 th:text="${title2}"></h2>

        <form action="/index" method="post">
            <input type="hidden" name="mode" value="login">
            <p>
                ユーザーID<br>
                <input type="text" name="userId">
            </p>
            <p>
                パスワード<br>
                <input type="text" name="userPass">
            </p>
            <p> <input type="submit" value="ログイン"></p>
            <p th:text="${message}" style="color: red;"></p>
        </form>
        <p>
            アカウント新規作成は<a href="/createUser?mode=start">こちら</a>
        </p>
    </div>
</body>

</html>