<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${title2}"></h2>

    <!-- 各種メニュー -->
    <p>
        管理する公演が選択されていません。<br>
        「公演に参加する」か「公演を新規作成」してください。
    </p>
    <p>
        ※「公演を新規作成」する場合、<br>
        「団体に参加」している必要があります。
    </p>
    <h3 th:text="${menuList_ctegory_group}"></h3>
    <h4 th:text="${menuList_group_title}"></h4>
    <th:block th:each="column : ${menuList_group}">
        <form action="setFirstStage" method="post">
            <button type="submit" name="mode" th:value="${column.page_url}"><span
                    th:text="${column.page_name}"></span></button>
        </form>
    </th:block>

    <h3 th:text="${menuList_ctegory_user}"></h3>
    <h4 th:text="${menuList_user_title}"></h4>
    <th:block th:each="column : ${menuList_user}">
        <form action="setFirstStage" method="post">
            <button type="submit" name="mode" th:value="${column.page_url}"><span
                    th:text="${column.page_name}"></span></button>
        </form>
    </th:block>
    <hr>

    <p>
    <form action="/login" method="post">
        <input type="hidden" name="mode" value="logout">
        <input type="submit" value="ログアウト">
    </form>
    </p>

</body>

</html>