<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="managerMenu" name="managerMenu">

        <div class="leftMenu">
            <div class="menuLogo">
                <img src="./img/0101/application_logo.png" class="topLogo">
            </div>
            <div class="menuContent">
                <!-- <h1 th:text="${title}"></h1> -->
                <h2 th:text="${title2}"></h2>

                <hr>

                <!-- 各種メニュー -->

                <!-- 団体メニュー -->
                <h3 th:text="${menuList_ctegory_group}"></h3>
                <a href="javascript:void(0)" class="group" name="group">
                    <h4 th:text="${menuList_group_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_group}">
                        <form action="/setFirstStage" method="post">
                            <li class="hidden" name="groupMenu">
                                <button type="submit" name="setPage" th:value="${column.page_url}" class="notBtn">
                                    <span class="notBtnText" th:text="${column.page_name}"></span>
                                </button>
                            </li>
                        </form>
                    </th:block>
                </ul>

                <th:block th:if="${menuList_group_title != null}">
                    <hr>
                </th:block>

                <!-- ユーザーメニュー -->
                <h3 th:text="${menuList_ctegory_user}"></h3>
                <a href="javascript:void(0)" class="user" name="user">
                    <h4 th:text="${menuList_user_title}"></h4>
                </a>
                <ul class="menuUl">
                    <th:block th:each="column : ${menuList_user}">
                        <form action="/setFirstStage" method="post">
                            <li class="hidden" name="userMenu">
                                <button type="submit" name="setPage" th:value="${column.page_url}" class="notBtn">
                                    <span class="notBtnText" th:text="${column.page_name}"></span>
                                </button>
                            </li>
                        </form>
                    </th:block>
                </ul>

                <th:block th:if="${menuList_user_title != null}">
                    <hr>
                </th:block>

                <p>
                <form action="/login" method="post">
                    <button type="submit" name="mode" value="logout" class="logoutBtn">ログアウト</button>
                </form>
                </p>

            </div>
        </div>

        <div class="rightView">
            <div>

                <!-- 右側画面タイトル -->
                <h1 th:text="${title}"></h1>
                <h2 th:text="${title2}"></h2>

                <!-- 区切り線 -->
                <hr>

                <!-- ページ内容 -->
                <!-- ベース画面 -->
                <div class="setFirstStage" th:if="${setPage == 'setFirstStage'}">
                    <p>
                        管理する公演が選択されていません。<br>
                        「公演に参加する」か「公演を新規作成」してください。
                    </p>
                    <p>
                        ※「公演を新規作成」する場合、<br>
                        「団体に参加」している必要があります。
                    </p>
                    <th:block th:each="column : ${menuList_group}">
                        <form action="/setFirstStage" method="post">
                            <p class="submitBox">
                                <button type="submit" name="setPage" th:value="${column.page_url}" class="btn">
                                    <span class="btnText" th:text="${column.page_name}"></span>
                                </button>
                            </p>
                        </form>
                    </th:block>

                    <th:block th:each="column : ${menuList_user}">
                        <form action="/setFirstStage" method="post">
                            <p class="submitBox">
                            <p th:value="${column.page_url}"></p>
                            <button type="submit" name="setPage" th:value="${column.page_url}" class="btn">
                                <span class="btnText" th:text="${column.page_name}"></span>
                            </button>
                            </p>
                        </form>
                    </th:block>
                </div>

                <!-- ページ内容 -->
                <!-- 公演に参加・一覧画面 -->
                <div th:if="${setPage == 'changeStage'}">
                    <div>
                        <h3>公演検索</h3>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                            <input type="hidden" name="setPage" value="changeStage">
                            <p>
                                検索方法
                                <select name="mode" required>
                                    <option value="" disabled selected>検索方法を選択してください</option>
                                    <option value="idSearch">公演ID</option>
                                    <option value="nameSearch">公演名</option>
                                </select>
                            </p>
                            <p>
                                <input type="text" name="keyword" th:value="${keyword}">
                                <input type="submit" value="検索">
                            </p>
                        </form>
                        <p th:text="${message}" style="color: red;"></p>
                    </div>

                    <div th:if="${mode != 'login' and !#lists.isEmpty(searchStageList)}">
                        <table>
                            <tr>
                                <th>団体名</th>
                                <th>公演ID</th>
                                <th>公演名</th>
                                <th>参加状況</th>
                                <th></th>
                            </tr>
                            <th:block th:each="item : ${searchStageList}">
                                <tr>
                                    <form action="/setFirstStage" method="post">
                                        <input type="hidden" name="setPage" value="changeStage">
                                        <input type="hidden" name="test" value="test">
                                        <input type="hidden" name="keyword" th:value="${keyword}">
                                        <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                                        <input type="hidden" name="sysStageId" th:value="${item.sys_stage_id}">
                                        <td th:text="${item.group_name}"></td>
                                        <td th:text="${item.stage_id}"></td>
                                        <td th:text="${item.stage_name}"></td>
                                        <td th:if="${item.stage_authority != null and item.stage_authority > 0}"
                                            th:text="${item.authority_name}"></td>
                                        <td th:if="${item.stage_authority == null or item.stage_authority == 0}"></td>
                                        <td>
                                            <!-- item.stage_authority が null または 0 の場合：ログインボタン -->
                                            <button name="mode" value="login"
                                                th:if="${item.stage_authority == null or item.stage_authority == 0}">
                                                ログイン
                                            </button>

                                            <!-- item.stage_authority が 1以上 かつ userData.user_def_stage と一致する場合：選択中（赤文字） -->
                                            <span
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage == item.sys_stage_id}"
                                                style="color: red;">
                                                選択中
                                            </span>

                                            <!-- item.stage_authority が 1以上 かつ user_def_stage と違う場合：選択ボタン -->
                                            <button name="mode" value="select"
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage != item.sys_stage_id}">
                                                選択
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                            </th:block>
                        </table>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeStage">
                            <input type="hidden" name="mode" th:value="${mode}">
                            <input type="hidden" name="keyword" th:value="${keyword}">
                            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                            <p>
                                <button type="submit" name="page" value="searchPrev"
                                    th:if="${searchPrev != null}">前へ</button>
                                <button type="submit" name="page" value="searchNext"
                                    th:if="${searchNext != null}">次へ</button>
                            </p>
                        </form>
                    </div>

                    <div th:if="${mode == 'login' && loginMode == 'start'}">
                        <p
                            th:text="${loginStageData.stage_name + '（' + loginStageData.stage_id + '）へのログインパスワードを入力してください'}">
                        </p>

                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeStage">
                            <input type="hidden" name="mode" value="login">
                            <input type="hidden" name="sysStageId" th:value="${loginStageData.sys_stage_id}">
                            <p>
                                <input type="text" name="stagePass" th:value="${stagePass}">
                            </p>
                            <p>
                                <button type="submit" name="loginMode" value="inputPass">ログイン</button>
                            </p>
                        </form>
                        <p th:text="${loginMessage}" style="color: red;"></p>
                    </div>

                    <h3>参加中の公演</h3>
                    <div>
                        <table>
                            <tr>
                                <th>団体名</th>
                                <th>公演ID</th>
                                <th>公演名</th>
                                <th>参加状況</th>
                                <th></th>
                            </tr>
                            <th:block th:each="item : ${stageList}">
                                <form action="/setFirstStage" method="post">
                                    <tr th:if="${item.stage_authority != null}">
                                        <input type="hidden" name="setPage" value="changeStage">
                                        <input type="hidden" name="sysStageId" th:value="${item.sys_stage_id}">
                                        <td th:text="${item.group_name}"></td>
                                        <td th:text="${item.stage_id}"></td>
                                        <td th:text="${item.stage_name}"></td>
                                        <td th:text="${item.authority_name}"></td>
                                        <td>
                                            <!-- item.stage_authority が 1以上 かつ userData.user_def_stage と一致する場合：選択中（赤文字） -->
                                            <span
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage == item.sys_stage_id}"
                                                style="color: red;">
                                                選択中
                                            </span>

                                            <!-- item.stage_authority が 1以上 かつ user_def_stage と違う場合：選択ボタン -->
                                            <button name="mode" value="select"
                                                th:if="${item.stage_authority != null and item.stage_authority > 0 and userData.user_def_stage != item.sys_stage_id}">
                                                選択
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            </th:block>
                        </table>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeStage">
                            <input type="hidden" name="mode" value="stageList">
                            <input type="hidden" name="listOffset" th:value="${listOffset}">
                            <p>
                                <button type="submit" name="page" value="prev" th:if="${prev != null}">前へ</button>
                                <button type="submit" name="page" value="next" th:if="${next != null}">次へ</button>
                            </p>
                        </form>
                        <p th:text="${listMessage}"></p>
                    </div>
                </div>

                <!-- ページ内容 -->
                <!-- グループに参加 -->
                <div th:if="${setPage == 'changeGroup'}">
                    <div>
                        <h3>団体検索</h3>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeGroup">
                            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                            <input type="hidden" name="page" value="">
                            <p>
                                検索方法
                                <select name="mode" required>
                                    <option value="" disabled selected>検索方法を選択してください</option>
                                    <option value="idSearch">団体ID</option>
                                    <option value="nameSearch">団体名</option>
                                </select>
                            </p>
                            <p>
                                <input type="text" name="keyword" th:value="${keyword}">
                                <input type="submit" value="検索">
                            </p>
                        </form>
                        <p th:text="${message}" style="color: red;"></p>
                    </div>

                    <div th:if="${mode != 'login' and !#lists.isEmpty(searchGroupList)}">
                        <table>
                            <tr>
                                <th>団体ID</th>
                                <th>団体名</th>
                                <th>参加状況</th>
                                <th></th>
                            </tr>
                            <th:block th:each="item : ${searchGroupList}">
                                <tr>
                                    <form action="/setFirstStage" method="post">
                                        <input type="hidden" name="setPage" value="changeGroup">
                                        <input type="hidden" name="keyword" th:value="${keyword}">
                                        <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                                        <input type="hidden" name="sysGroupId" th:value="${item.sys_group_id}">
                                        <td th:text="${item.group_id}"></td>
                                        <td th:text="${item.group_name}"></td>
                                        <td th:if="${item.group_authority != null and item.group_authority > 0}"
                                            th:text="${item.authority_name}"></td>
                                        <td th:if="${item.group_authority == null or item.group_authority == 0}"></td>
                                        <td>
                                            <!-- item.group_authority が null または 0 の場合：ログインボタン -->
                                            <button name="mode" value="login"
                                                th:if="${item.group_authority == null or item.group_authority == 0}">
                                                ログイン
                                            </button>

                                            <!-- item.group_authority が 1以上 かつ userData.user_def_group と一致する場合：選択中（赤文字） -->
                                            <span
                                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group == item.sys_group_id}"
                                                style="color: red;">
                                                選択中
                                            </span>

                                            <!-- item.group_authority が 1以上 かつ user_def_group と違う場合：選択ボタン -->
                                            <button name="mode" value="select"
                                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group != item.sys_group_id}">
                                                選択
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                            </th:block>
                        </table>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeGroup">
                            <input type="hidden" name="mode" th:value="${mode}">
                            <input type="hidden" name="keyword" th:value="${keyword}">
                            <input type="hidden" name="searchOffset" th:value="${searchOffset}">
                            <p>
                                <button type="submit" name="page" value="searchPrev"
                                    th:if="${searchPrev != null}">前へ</button>
                                <button type="submit" name="page" value="searchNext"
                                    th:if="${searchNext != null}">次へ</button>
                            </p>
                        </form>
                    </div>

                    <div th:if="${mode == 'login' && loginMode == 'start'}">
                        <p th:text="${groupData.group_name + '（' + groupData.group_id + '）へのログインパスワードを入力してください'}"></p>

                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeGroup">
                            <input type="hidden" name="mode" value="login">
                            <input type="hidden" name="sysGroupId" th:value="${groupData.sys_group_id}">
                            <p>
                                <input type="text" name="groupPass" th:value="${groupPass}">
                            </p>
                            <p>
                                <button type="submit" name="loginMode" value="inputPass">ログイン</button>
                            </p>
                        </form>
                        <p th:text="${loginMessage}" style="color: red;"></p>
                    </div>

                    <h3>参加中の団体</h3>
                    <div>
                        <table>
                            <tr>
                                <th>団体ID</th>
                                <th>団体名</th>
                                <th>参加状況</th>
                                <th></th>
                            </tr>
                            <th:block th:each="item : ${groupList}">
                                <form action="/setFirstStage" method="post">
                                    <tr th:if="${item.group_authority != null}">
                                        <input type="hidden" name="setPage" value="changeGroup">
                                        <input type="hidden" name="sysGroupId" th:value="${item.sys_group_id}">
                                        <td th:text="${item.group_id}"></td>
                                        <td th:text="${item.group_name}"></td>
                                        <td th:text="${item.authority_name}"></td>
                                        <td>
                                            <!-- item.group_authority が 1以上 かつ userData.user_def_group と一致する場合：選択中（赤文字） -->
                                            <span
                                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group == item.sys_group_id}"
                                                style="color: red;">
                                                選択中
                                            </span>

                                            <!-- item.group_authority が 1以上 かつ user_def_group と違う場合：選択ボタン -->
                                            <button name="mode" value="select"
                                                th:if="${item.group_authority != null and item.group_authority > 0 and userData.user_def_group != item.sys_group_id}">
                                                選択
                                            </button>
                                        </td>
                                    </tr>
                                </form>
                            </th:block>
                        </table>
                        <form action="/setFirstStage" method="post">
                            <input type="hidden" name="setPage" value="changeGroup">
                            <input type="hidden" name="mode" value="stageList">
                            <input type="hidden" name="listOffset" th:value="${listOffset}">
                            <p>
                                <button type="submit" name="page" value="prev" th:if="${prev != null}">前へ</button>
                                <button type="submit" name="page" value="next" th:if="${next != null}">次へ</button>
                            </p>
                        </form>
                        <p th:text="${listMessage}"></p>
                    </div>
                </div>

                <!-- ページ内容 -->
                <!-- ユーザー基本情報 -->
                <div th:if="${setPage == 'setUser'}">
                    <table>
                        <tr>
                            <th>ユーザーID</th>
                            <td th:text="${userData.user_id}"></td>
                            <td th:if="${mode != 'setUserId'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserId">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserId'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="nextMode" th:value="inputValue">
                                    <p>
                                        新しいユーザーIDを入力してください<br>
                                        <input type="text" name="userId" th:value="${userId}" required><br>
                                        <button type="submit" name="mode" value="setUserId">決定</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td th:text="${userData.user_mail}"></td>
                            <td th:if="${mode != 'setMail'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setMail">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setMail'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="nextMode" th:value="inputValue">
                                    <p>
                                        新しいメールアドレスを入力してください<br>
                                        <input type="email" name="userMail" th:value="${userMail}" required><br>
                                        <button type="submit" name="mode" value="setMail">決定</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>パスワード</th>
                            <td>非表示</td>
                            <td th:if="${mode != 'setUserPass'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserPass">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserPass'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="nextMode" th:value="inputValue">
                                    <p>
                                        現在のパスワード<br>
                                        <span th:text="${userData.user_pass}"></span>
                                    </p>
                                    <p>
                                        新しいパスワードを入力してください<br>
                                        <input type="password" name="userPass" required><br>
                                        <input type="password" name="rePass" required placeholder="再度入力">
                                        <button type="submit" name="mode" value="setUserPass">決定</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td th:text="${userData.user_tell}"></td>
                            <td th:if="${mode != 'setUserTel'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserTel">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserTel'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="mode" th:value="setUserTel">
                                    <p>
                                        新しい電話番号を入力してください<br>
                                        <input type="tel" name="userTel"><br>
                                        <button type="submit" name="nextMode" value="inputValue">決定</button>
                                    </p>
                                    <p>
                                        電話番号を設定しない ⇒
                                        <button type="submit" name="nextMode" value="crearValue">設定しない</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>ユーザーネーム</th>
                            <td th:text="${userData.user_name + '(' + userData.user_kana_name + ')'}"></td>
                            <td th:if="${mode != 'setUserName'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserName">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserName'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="nextMode" th:value="inputValue">
                                    <p>
                                        新しいユーザーネームを入力してください<br>
                                        <input type="text" name="userName" th:text="${userName}" required
                                            placeholder="ユーザーネーム"><br>
                                        <input type="text" name="userKanaName" th:text="${userKanaName}" required
                                            placeholder="フリガナ"><br>
                                        <button type="submit" name="mode" value="setUserName">決定</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>芸名</th>
                            <td th:text="${userData.user_stage_name + '(' + userData.user_stage_kana_name + ')'}"
                                th:if="${userData.user_stage_name != null}"></td>
                            <td th:if="${userData.user_stage_name == null}"></td>
                            <td th:if="${mode != 'setUserStageName'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserStageName">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserStageName'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="mode" th:value="setUserStageName">
                                    <p>
                                        新しい芸名を入力してください<br>
                                        <input type="text" name="userName" th:text="${userName}" placeholder="芸名"><br>
                                        <input type="text" name="userKanaName" th:text="${userKanaName}"
                                            placeholder="フリガナ"><br>
                                        <button type="submit" name="nextMode" value="inputValue">決定</button>
                                    </p>
                                    <p>
                                        芸名を設定しない ⇒
                                        <button type="submit" name="nextMode" value="crearValue">設定しない</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <th>生年月日</th>
                            <td th:text="${userData.user_birthday + '(年齢非公開)'}" th:if="${userData.user_hide_age == 0}">
                            </td>
                            <td th:text="${userData.user_birthday + '(年齢公開)'}" th:if="${userData.user_hide_age == 1}">
                            </td>
                            <td th:if="${mode != 'setUserBirthday'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <button type="submit" name="mode" value="setUserBirthday">編集</button>
                                </form>
                            </td>
                            <td th:if="${mode == 'setUserBirthday'}">
                                <form action="/setFirstStage" method="post">
                                    <input type="hidden" name="setPage" value="setUser">
                                    <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                                    <input type="hidden" name="nextMode" th:value="inputValue">
                                    <p>
                                        新しい生年月日を入力してください<br>
                                        <input type="date" name="userBirthday" th:text="${userBirthday}"><br>
                                        年齢を非公開にする ⇒
                                        <span th:if="${userData.user_hide_age == 0}">
                                            <input type="checkbox" name="hideBirthYear">
                                        </span>
                                        <span th:if="${userData.user_hide_age == 1}">
                                            <input type="checkbox" name="hideBirthYear" checked>
                                        </span><br>
                                        <button type="submit" name="mode" value="setUserBirthday">決定</button>
                                    </p>
                                    <p th:text="${message}" style="color: red;"></p>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>

    <script type="module" src="./js/main.js"></script>
</body>

</html>