<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
</head>

<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${title2}"></h2>

    <!-- 各種メニュー -->
    <h3 th:text="${menuList_ctegory_stage}"></h3>
    <h4 th:text="${menuList_stage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_stage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_manage_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_manage}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h4 th:text="${menuList_tools_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_tools}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_group}"></h3>
    <h4 th:text="${menuList_group_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_group}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>

    <h3 th:text="${menuList_ctegory_user}"></h3>
    <h4 th:text="${menuList_user_title}"></h4>
    <ul>
        <th:block th:each="column : ${menuList_user}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>
    <hr>

    <!-- ページ内容 -->
    <div>
        <table>
            <tr>
                <th>ユーザーID</th>
                <td th:text="${userData.user_id}"></td>
                <td th:if="${mode != 'setUserId'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserId">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserId'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="nextMode" th:value="inputValue">
                        <p>
                            新しいユーザーIDを入力してください<br>
                            <input type="text" name="userId" th:value="${userId}" required><br>
                            <button type="submit" name="mode" value="setUserId">決定</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td th:text="${userData.user_mail}"></td>
                <td th:if="${mode != 'setMail'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setMail">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setMail'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="nextMode" th:value="inputValue">
                        <p>
                            新しいメールアドレスを入力してください<br>
                            <input type="email" name="userMail" th:value="${userMail}" required><br>
                            <button type="submit" name="mode" value="setMail">決定</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td>非表示</td>
                <td th:if="${mode != 'setUserPass'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserPass">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserPass'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="nextMode" th:value="inputValue">
                        <p>
                            現在のパスワード<br>
                            <span th:text="${userData.user_pass}"></span>
                        </p>
                        <p>
                            新しいパスワードを入力してください<br>
                            <input type="password" name="userPass" required><br>
                            <input type="password" name="rePass" required placeholder="再度入力">
                            <button type="submit" name="mode" value="setUserPass">決定</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td th:text="${userData.user_tell}"></td>
                <td th:if="${mode != 'setUserTel'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserTel">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserTel'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="mode" th:value="setUserTel">
                        <p>
                            新しい電話番号を入力してください<br>
                            <input type="tel" name="userTel"><br>
                            <button type="submit" name="nextMode" value="inputValue">決定</button>
                        </p>
                        <p>
                            電話番号を設定しない ⇒
                            <button type="submit" name="nextMode" value="crearValue">設定しない</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>ユーザーネーム</th>
                <td th:text="${userData.user_name + '(' + userData.user_kana_name + ')'}"></td>
                <td th:if="${mode != 'setUserName'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserName">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserName'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="nextMode" th:value="inputValue">
                        <p>
                            新しいユーザーネームを入力してください<br>
                            <input type="text" name="userName" th:text="${userName}" required placeholder="ユーザーネーム"><br>
                            <input type="text" name="userKanaName" th:text="${userKanaName}" required
                                placeholder="フリガナ"><br>
                            <button type="submit" name="mode" value="setUserName">決定</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>芸名</th>
                <td th:text="${userData.user_stage_name + '(' + userData.user_stage_kana_name + ')'}"
                    th:if="${userData.user_stage_name != null}"></td>
                <td th:if="${userData.user_stage_name == null}"></td>
                <td th:if="${mode != 'setUserStageName'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserStageName">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserStageName'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="mode" th:value="setUserStageName">
                        <p>
                            新しい芸名を入力してください<br>
                            <input type="text" name="userName" th:text="${userName}" placeholder="芸名"><br>
                            <input type="text" name="userKanaName" th:text="${userKanaName}" placeholder="フリガナ"><br>
                            <button type="submit" name="nextMode" value="inputValue">決定</button>
                        </p>
                        <p>
                            芸名を設定しない ⇒
                            <button type="submit" name="nextMode" value="crearValue">設定しない</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
            <tr>
                <th>生年月日</th>
                <td th:text="${userData.user_birthday + '(年齢非公開)'}" th:if="${userData.user_hide_age == 0}"></td>
                <td th:text="${userData.user_birthday + '(年齢公開)'}" th:if="${userData.user_hide_age == 1}"></td>
                <td th:if="${mode != 'setUserBirthday'}">
                    <form action="/setUser" method="post">
                        <button type="submit" name="mode" value="setUserBirthday">編集</button>
                    </form>
                </td>
                <td th:if="${mode == 'setUserBirthday'}">
                    <form action="/setUser" method="post">
                        <input type="hidden" name="sysUserId" th:value="${userData.sys_user_id}">
                        <input type="hidden" name="nextMode" th:value="inputValue">
                        <p>
                            新しい生年月日を入力してください<br>
                            <input type="date" name="userBirthday" th:text="${userBirthday}"><br>
                            年齢を非公開にする ⇒
                            <span th:if="${userData.user_hide_age == 0}">
                                <input type="checkbox" name="hideBirthYear">
                            </span>
                            <span th:if="${userData.user_hide_age == 1}">
                                <input type="checkbox" name="hideBirthYear" checked>
                            </span><br>
                            <button type="submit" name="mode" value="setUserBirthday">決定</button>
                        </p>
                        <p th:text="${message}" style="color: red;"></p>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <p>
    <form action="/login" method="post">
        <input type="hidden" name="mode" value="logout">
        <input type="submit" value="ログアウト">
    </form>
    </p>

</body>

</html>