<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="custPage" name="custPage">
        <img th:src="@{/img/0101/application_logo.png}" class="topLogo" />
        <!-- <h1 th:text="${title}"></h1> -->
        <h2 th:text="${title2}"></h2>

        <form action="/myPage" method="post">
            <button type="submit" name="mode" value="myPage" class="toMypageBtn"><label
                    class="toMypageText">マイページへ</label></button>
        </form>

        <hr>

        <div class="inputForm">
            <h3 th:text="${stageData.stage_name}"></h3>
            <div>
                <form action="/reserve" method="post" th:if="${mode == 'inputDate'}">
                    <p>日時を選択してください</p>
                    <label class="inputFormSelect">
                        <select name="sysDateId">
                            <th:block th:each="item : ${dateFormList}">
                                <option th:value="${item.sys_date_id}"
                                    th:text="${#temporals.format(item.st_date, 'yyyy年 M月d日 H時m分')}"
                                    th:selected="${sysDateId == item.sys_date_id}">
                                </option>
                            </th:block>
                        </select>
                    </label><br>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="nextMode" value="inputValue">
                    <p th:text="${message}" class="alertText"></p>
                    <button name="mode" value="inputDate" class="btn"><span class="btnText">決定</span></button>
                </form>

                <form action="/reserve" method="post" th:if="${mode == 'inputTicket'}">
                    <p>チケット枚数を入力してください</p>
                    <table>
                        <th:block th:each="item, index : ${ticketFormList}">
                            <tr>
                                <td th:text="${item.ticket_name + ' ' + item.ticket_price + ' 円'}"></td>
                                <td>
                                    <input type="number" name="traAmounts"
                                        th:value="${traAmounts != null ? traAmounts[index.index] : 0}">枚
                                </td>
                            </tr>
                        </th:block>
                    </table>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="sysDateId" th:value="${sysDateId}">
                    <input type="hidden" name="mode" value="inputTicket">
                    <p th:text="${message}" class="alertText"></p>
                    <button name="nextMode" value="inputValue" class="btn"><span class="btnText">決定</span></button>

                    <p><button type="submit" name="nextMode" value="back" class="btn"><span
                                class="btnText">戻る</span></button></p>
                </form>

                <!-- コメント入力画面 -->
                <form action="/reserve" method="post" th:if="${mode == 'inputMemo'}">
                    <p>何かコメントがあれば入力してください</p>
                    <textarea name="traMemo" th:text="${traMemo}" class="traMemo"></textarea>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="sysDateId" th:value="${sysDateId}">
                    <input type="hidden" name="traAmounts" th:value="${traAmounts}">
                    <input type="hidden" name="mode" value="inputMemo"><br>
                    <p th:text="${message}" class="alertText"></p>
                    <button name="nextMode" value="inputValue" class="btn"><span class="btnText">決定</span></button>

                    <p><button type="submit" name="nextMode" value="back" class="btn"><span
                                class="btnText">戻る</span></button></p>
                </form>

                <!-- ログインなしで予約をする場合 -->
                <!-- ユーザー情報入力画面 -->
                <form action="/reserve" method="post" th:if="${mode == 'inputUser' || mode == 'inputLoginUser'}">
                    <p>
                        お客様情報を入力してください<br>
                        <span class="alertText">ログインなしで予約登録する場合、公演予約履歴は残りません</span><br>
                        <span class="alertText">（予約完了通知メールは送られます）</span>
                    </p>
                    <p>
                        お名前<br>
                        <input type="text" name="custName" th:value="${custName}" required>
                    </p>
                    <p>
                        お名前（フリガナ）<br>
                        <input type="text" name="custKanaName" th:value="${custKanaName}" required>
                    </p>
                    <p>
                        メールアドレス<br>
                        <input type="email" name="custMail" th:value="${custMail}" required>
                    </p>
                    <p>
                        ご連絡先電話番号<br>
                        <input type="tel" name="custTel" th:value="${custTel}" required>
                    </p>
                    <p th:text="${message}" class="alertText"></p>
                    <p>
                        <button type="submit" name="nextMode" value="inputValue" class="btn">
                            <span class="btnText">送信</span>
                        </button>
                    </p>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="sysDateId" th:value="${sysDateId}">
                    <input type="hidden" name="traAmounts" th:value="${traAmounts}">
                    <input type="hidden" name="traMemo" th:value="${traMemo}">
                    <input type="hidden" name="mode" value="inputUser"><br>
                </form>
                <form action="/reserve" method="post" th:if="${mode == 'inputUser' || mode == 'inputLoginUser'}">
                    <p>
                        <button type="submit" name="nextMode" value="back" class="btn">
                            <span class="btnText">戻る</span>
                        </button>
                    </p>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="sysDateId" th:value="${sysDateId}">
                    <input type="hidden" name="traAmounts" th:value="${traAmounts}">
                    <input type="hidden" name="traMemo" th:value="${traMemo}">
                    <input type="hidden" name="mode" value="inputUser"><br>
                </form>

                <!-- 内容確認画面 -->
                <form action="/reserve" method="post" th:if="${mode == 'confiResult'}" id="causeLoadingForm">
                    <p>下記の内容でよろしいですか？</p>
                    <table>
                        <tr>
                            <th>お名前</th>
                            <td th:text="${custName}"></td>
                        </tr>
                        <tr>
                            <th>お名前<br>（フリガナ）</th>
                            <td th:text="${custKanaName}"></td>
                        </tr>
                        <tr>
                            <th>メールアドレス</th>
                            <td th:text="${custMail}"></td>
                        </tr>
                        <tr>
                            <th>ご連絡先<br>電話番号</th>
                            <td th:text="${custTel}"></td>
                        </tr>
                        <tr>
                            <th>日時</th>
                            <td th:text="${#temporals.format(stDate, 'yyyy年 M月d日 H時m分')}"></td>
                        </tr>
                        <tr>
                            <th>購入チケット</th>
                            <td>
                                <table>
                                    <th:block th:each="item, index : ${ticketFormList}">
                                        <tr>
                                            <td th:text="${item.ticket_name + ' ' + item.ticket_price + ' 円' }"></td>
                                            <td th:text="${traAmounts[index.index]} + ' 枚'"></td>
                                        </tr>
                                    </th:block>
                                    <tr>
                                        <td>合計金額</td>
                                        <td th:text="${totalPrice} + ' 円'"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>コメント</th>
                            <td th:text="${traMemo}"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="sysFormId" th:value="${sysFormId}">
                    <input type="hidden" name="sysManagerId" th:value="${sysManagerId}">
                    <input type="hidden" name="sysDateId" th:value="${sysDateId}">
                    <input type="hidden" name="traAmounts" th:value="${traAmounts}">
                    <input type="hidden" name="traMemo" th:value="${traMemo}">
                    <input type="hidden" name="custName" th:value="${custName}">
                    <input type="hidden" name="custKanaName" th:value="${custKanaName}">
                    <input type="hidden" name="custMail" th:value="${custMail}">
                    <input type="hidden" name="custTel" th:value="${custTel}">
                    <input type="hidden" name="mode" value="confiResult">
                    <input type="hidden" name="nextMode" th:value="${nextMode}">
                    <button type="button" class="btn" name="submitBtn">
                        <span class="btnText">決定</span>
                    </button>

                    <p id="messageText" class="alertText hidden">ただいま処理中です<br>少々お待ちください</p>

                    <p>
                        <button type="submit" name="nextMode" value="back" class="btn">
                            <span class="btnText">戻る</span>
                        </button>
                    </p>
                </form>
            </div>
        </div>

    </div>

    <script type="module" th:src="@{/js/main.js}"></script>
</body>

</html>