<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1 th:text="${title}"></h1>
    <h2 th:text="${title2}"></h2>

    <!-- 各種メニュー -->
    <ul>
        <th:block th:each="column : ${custMenuList}">
            <li><a th:href="${column.page_url}"><span th:text="${column.page_name}"></span></a></li>
        </th:block>
    </ul>
    <!-- ここにタイムリーフ -->

    <hr>

    <p>
    <form action="/custLogin" method="post">
        <input type="hidden" name="mode" value="logout">
        <input type="submit" value="ログアウト">
    </form>
    </p>


</body>

</html>